.main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, black, 80%, #cdff70);
}
.Display_area {
  width: 70%;
  height: 70vh;
  background: linear-gradient(170deg, black, teal);
  border-radius: 20px;
  border-color: rgb(116, 126, 134);
  border-style: solid;
  border-width: 4px;
}
header img {
  border-radius: 10px;
  width: 9%;
  height: 80%;
}
header {
  height: 15vh;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.amount {
  color: #7bb908;
}
textarea {
  background-color: transparent;
  resize: none;
  outline: none;
  width: 85%;
  border-bottom: 2px solid blue;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  transition: border-color 0.3s ease;
}
